spring:
  application:
    name: msvc-gateway

  config:
    import: "optional:configserver:http://localhost:8888"

server:
  port: 8080

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
